* {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #212121;
}

ul.menu {
    display: flex;
    justify-content: space-around;
    padding: 1px 0;
    margin: 0;
}

li.menu_item {
    padding-right: 48px;
    border-right: 2px dotted black;
}

a.menu_link {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.subheader {
    position: absolute;
    width: 100%;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .container .row {
    align-items: center;
}

a {
    text-decoration: none;
}

.logo_descr {
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
}

span {
    display: block;
}

.number_name {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}

.number_tel {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    line-height: 32px;
    color: #fff;
}

.button {
    width: 100%;
    padding: 16px 0;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: solid 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);

    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.promo {
    padding: 150px 0 136px 0;
    min-height: 800px;
    background: url('../img/BG/mainBG.png') center center/cover no-repeat;
}

h1.promo_title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #fff;
}

h2.promo_subtitle {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.promo_descr {
    margin-top: 24px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.promo_btn {
    margin-top: 120px;
    width: auto;
    padding: 24px 40px;
    font-size: 18px;
}

.plus {
    min-height: 900px;
    padding: 80px 0 64px 0;
}

.plus_title {
    font-size: 11px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

    width: fit-content;
    margin: auto ;
    padding: 4px 12px;
    background-color: #000;
}

.plus_name {
    margin-top: 40px;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
    color: #222;
}

.plus_item {
    display: flex;
    align-items: center;
    max-height: 142px;
    margin-top: 32px;
}

.plus_imgBG {
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    width: 113px;
    height: 113px;
    border-radius: 100%;
    background-color: #1eacc7;
}

.plus_txt {
    width: fit-content;
}

.plus_txt_name {
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
}

.plus_txt_descr {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: justify;
    color: #202020;
    width:max-content;
}